* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-manrope), sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}


::-webkit-scrollbar {
  width: 8px;
}


::-webkit-scrollbar-track {
  background: #f3f3f3;
}

::-webkit-scrollbar-thumb {
  background: #dadde1;
  border-radius: 4px;
}


::-webkit-scrollbar-thumb:hover {
  background: #b8bcc1;
}